.main-div {
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 599px) {
  .main-div {
    width: 90%;

    h1 {
      text-align: center;
    }

    h6 {
      font-size: 2.1em;
      padding: 10px 0px;
    }
  }
}