// Wizard Multi Step
$layout-spacer-lg: 3rem;
$layout-spacer-x: 1.5rem;
.forms-wizard {
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 100%;
  display: table;
  table-layout: fixed;

  li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    cursor: pointer;
    font-size: $font-size-lg / 1.1;
    padding: ($layout-spacer-x / 1.5) 0;
    color: $gray-500;
    position: relative;

    &::after,
    &::before {
      position: absolute;
      height: 4px;
      top: 50%;
      margin-top: -($layout-spacer-x / 1.5);
      width: 50%;
      content: '';
      background: $gray-300;
      z-index: 5;
      transition: all 0.2s;
    }

    &::after {
      left: 50%;
    }

    &::before {
      left: 0;
    }

    &:first-child {
      &::before {
        @include border-left-radius(20px);
      }
    }

    &:last-child {
      &::after {
        @include border-right-radius(20px);
      }
    }

    em {
      font-style: normal;
      font-size: $h4-font-size;
      background: $gray-400;
      color: $white;
      text-align: center;
      padding: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      @include border-radius(50px);
      display: block;
      margin: 0 auto 0.5rem;
      position: relative;
      z-index: 7;
      transition: all 0.2s;
    }

    &.form-wizard-step-doing {
      color: $gray-700;
      em {
        background: var(--orange);
      }

      &::before {
        background: var(--orange);
      }
    }

    &.form-wizard-step-done {
      em {
        font-family: 'Linearicons-Free';
        @extend .lnr-checkmark-circle !optional;
        background: $success;
        overflow: hidden;
        &::before {
          width: 42px;
          height: 42px;
          font-size: 1.2rem;
          line-height: 40px;
          text-align: center;
          display: block;
        }
      }

      &::after,
      &::before {
        background: $success;
      }
    }

    &:hover {
      color: $gray-600;
    }
  }
}

// Form Wizard Alternate

.forms-wizard-alt {
  .forms-wizard {
    li {
      font-size: $font-size-base;

      em {
        width: 14px;
        height: 14px;
        line-height: 14px;
        text-indent: -999rem;
        border: $white solid 2px;
        margin: -7px auto 0;
      }
    }
  }
}

.forms-wizard-vertical {
  .forms-wizard {
    display: block;
    width: 30%;
    float: left;
    padding: 0 $layout-spacer-x $layout-spacer-x 0;

    li {
      text-align: left;
      display: flex;
      align-items: center;
      align-content: flex-start;
      padding: ($layout-spacer-x / 2);
      margin-bottom: ($layout-spacer-x / 3);
      @include border-radius($border-radius-lg);
      transition: all 0.2s;

      &::before,
      &::after {
        display: none;
      }

      em {
        margin: 0 ($layout-spacer-x / 2) 0 0;
      }

      &:hover {
        background: $gray-200;
      }

      &.form-wizard-step-doing {
        background: var(--orange);
        color: $white;

        em {
          background: rgba(255, 255, 255, 0.2);
        }
      }
    }
  }

  .form-wizard-content {
    width: 70%;
    overflow: auto;
  }
}
@media screen and (min-width: 360px) and (max-width: 812px) {
  .forms-wizard-vertical {
    .forms-wizard {
      display: block;
      width: 50%;
      float: left;
      padding: 0 $layout-spacer-x $layout-spacer-x 0;

      li {
        text-align: left;
        display: flex;
        align-items: center;
        align-content: flex-start;
        padding: ($layout-spacer-x / 2);
        margin-bottom: ($layout-spacer-x / 3);
        @include border-radius($border-radius-lg);
        transition: all 0.2s;

        &::before,
        &::after {
          display: none;
        }

        em {
          margin: 0 ($layout-spacer-x / 2) 0 0;
        }

        &:hover {
          background: $gray-200;
        }

        &.form-wizard-step-doing {
          background: var(--orange);
          color: $white;

          em {
            background: rgba(255, 255, 255, 0.2);
          }
        }
      }
    }

    .form-wizard-content {
      width: 50%;
      overflow: auto;
    }
  }
}

.main-card {
  box-shadow: 0 0 0 0 transparent !important;

  & > .card-body {
    & > .card-title {
      text-transform: none;
      font-size: $font-size-lg;
      font-weight: normal;
      border-bottom: $gray-300 solid 1px;
      position: relative;
      padding: 0 0 ($card-spacer-y * 1.5);
      margin: 0 0 ($card-spacer-y * 1.5);

      &::before {
        position: absolute;
        width: 40px;
        background: $primary;
        @include border-radius(30px);
        height: 5px;
        left: 0;
        bottom: -2px;
        content: '';
      }
    }
  }
}

.optionButton {
  background-color: var(--white);
  border-width: 5px;
  border-color: var(--pink-light);
  padding: 10px;

  &:hover {
    background-color: var(--pink-light);
    border-color: var(--pink-light);
  }

  &:focus {
    background-color: var(--pink-light);
    border-color: var(--pink-light);
  }

  &:active {
    background-color: var(--pink-light) !important;
    border-color: var(--pink-light) !important;
  }
}

.selected {
  background-color: var(--pink-light) !important;
  border-color: var(--pink-light) !important;
}

.wrapper {
  outline: 3px solid var(--pink-light);
}

.selectedImg {
  outline: 3px solid var(--orange);
}

.inputForm {
  border: 3px solid var(--pink-light);
}

.btnImg {
  border: 0;
  background-color: #fff;

  &:hover {
    background-color: var(--orange);
  }

  &:active {
    background-color: var(--orange) !important;
  }

  &:focus {
    background-color: var(--orange) !important;
  }
}

@media screen and (max-width: 575px) {
  .forms-wizard-alt {
    width: 100%;
  }
  #alignerzLogo {
    height: 55px;
    width: 80px;
  }
  .optionImage {
    width: 80px;
    height: 80px
  }
  .formImage {
    width: 130px;
    height: 92px;
  }
}

@media (min-width: 576px) {
  #alignerzLogo {
    height: 55px;
    width: 80px;
  }
}

@media (min-width: 992px) {
  .forms-wizard-alt {
    width: 50%;
    padding: 6em;
  }
  #alignerzLogo {
    height: 165px;
    width: 200px;
  }
  .optionImage {
    width: 100px;
    height: 100px
  }
  .formImage {
    width: 187px;
    height: 132px;
  }
}
