@media screen and (max-width: 575px) {
  #chooseSmileImg {
    width: 100%;
    height: auto;
  }
  #chooseSmileText {

  }
}

@media screen and (min-width: 576px) {
  #readySetSmileImg {
    position: static;
    height: 85vh;
  }
  #readySetSmileText {
    position: static;
  }
  #contentDiv {
    width: 100% !important;
  }
}

@media screen and (min-width: 992px) {
  #readySetSmileImg {
    position: absolute;
    height: 85vh;
  }
  #readySetSmileText {
    height: 100%;
    position: relative;
    z-index: 2;
  }
  #contentDiv {
    width: 70% !important;
  }
}





