#banner-section {
  background-color: var(--pink-light);
  // background: url('../content/images/clareamento.jpg') no-repeat;
}

#banner-section .content-col {
  display: flex;
  align-items: center;
}

#banner-section .content-col .info {
  width: 100%;
  height: fit-content;
}

#banner-section .content-col .info h1 {
  color: #FFF;
  font-size: 48px;
  font-weight: 800;

  margin-bottom: 40px;
}

#banner-section .content-col .info h3 {
  color: #545454;
  font-size: 32px;

  margin-bottom: 40px;
}

#tratamento-section {

  .tratamento-content {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    margin: auto;

    .tratamento-title {
      width: 100%;
      margin-top: 80px;
      margin-bottom: 40px;
    }

    .cards-container {
      width: 100%;
      margin: 20px;
    }

    .tratamento-card {
      border-radius: 20px;
      overflow: hidden;

      h4 {
        color: var(--orange);
        padding: 20px;
        padding-bottom: 0px;
        font-size: 3em;
        font-weight: normal;
      }

      p {
        padding: 10px;
        font-size: 1.4em;
      }
    }
  }
}

@media screen and (max-width: 599px) {
  #tratamento-section {
    .tratamento-content {
      .tratamento-card {
        h4 {
          font-size: 4em;
        }

        p {
          font-size: 2.1em;
          padding: 10px;
        }
      }
    }
  }
}
