#banner-section {
  background-color: var(--pink-light);
  // background: url('../content/images/clareamento.jpg') no-repeat;
}

#banner-section .content-col {
  display: flex;
  align-items: center;
}

#banner-section .content-col .info {
  width: 100%;
  height: fit-content;
}

#banner-section .content-col .info h1 {
  color: #FFF;
  font-size: 48px;
  font-weight: 800;

  margin-bottom: 40px;
}

#banner-section .content-col .info h3 {
  color: #545454;
  font-size: 32px;

  margin-bottom: 40px;
}

#tratamento-section {

  .tratamento-content {
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    width: 80%;
    margin: auto;

    .tratamento-title {
      width: 100%;
      margin-top: 80px;
      margin-bottom: 80px;

      h2 {
        color: #77c1cd;
        font-weight: 800;
      }
    }

    .cards-container {
      width: 100%;
    }

    .tratamento-card {
      background-color: var(--white-dirty);

      border-radius: 20px;
      overflow: hidden;

      h4 {
        padding: 20px;
        font-size: 25px;
        font-weight: normal;
        min-height: 185px;
      }
    }
  }



}
