$xs: 575px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

@media screen and (max-width: 575px) {
  #chooseSmileImg {
    width: 100%;
    height: auto;
  }
  #chooseSmileText {

  }
}

@media (min-width: 576px) {

}

@media screen and (min-width: 992px) {
  #chooseSmileImg {
    position: absolute;
    height: 85vh;
  }
  #chooseSmileText {
    height: 100%;
    position: relative;
    z-index: 2;
  }
  .centerTextImg {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .m-auto-w-50 {
    margin: auto !important;
    width: 50%;
  }
  .m-auto-w-75 {
    margin: auto !important;
    width: 75%;
  }
  .w-60-flex {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-right: auto;
    margin-left: auto;
  }
  .w-75-flex {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (min-width: $xl) {
  .w-75-flex {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media only screen and (min-width: $lg) {
  .w-75-flex {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
