#banner-section {
    background-color: var(--pink-light);
    // background: url('../content/images/clareamento.jpg') no-repeat;
}

#banner-section .content-col {
    display: flex;
    align-items: center;
}

#banner-section .content-col .info {
    width: 100%;
    height: fit-content;
}

#banner-section .content-col .info h1 {
    color: #FFF;
    font-size: 48px;
    font-weight: 800;

    margin-bottom: 40px;
}

#banner-section .content-col .info h3 {
    color: #545454;
    font-size: 32px;

    margin-bottom: 40px;
}

.mais-razoes {
  width: 65%;
  margin: auto;
}

.comparacao {
  width: 75%;
}

#tratamento-section {

    .tratamento-content {
        text-align: center;

        display: flex;
        flex-direction: column;
        align-items: center;

        width: 80%;
        margin: auto;

        .tratamento-title {
            width: 100%;
            margin-top: 80px;
            margin-bottom: 40px;
        }

        .cards-container {
            width: 100%;
            margin: 20px;
        }

        .tratamento-card {
            border-radius: 20px;
            overflow: hidden;

            h4 {
                color: var(--orange);
                padding: 20px;
                padding-bottom: 0px;
                font-size: 3em;
                font-weight: normal;
            }

            p {
                padding: 10px;
                font-size: 1.4em;
            }
        }
    }
}

span {
  font-size: 21px !important;
}

.mais-razoes {
  p {
    font-size: 21px;
  }
}

@media screen and (max-width: 599px) {
  .comparacao {
    width: 100%;
  }

  .mais-razoes {
    width: 100%;

    h2 {
      padding: 20px 0px 10px 0px;
      text-align: center;
      font-size: 3em;
    }

    p {
      text-align: center;
      font-size: 2.2em;
      margin-bottom: 20px !important;
    }

    .info-razao {
      margin-bottom: 20px;
    }
  }

    #tratamento-section {
        .tratamento-content {
            .tratamento-card {

                h4 {
                    font-size: 4em;
                }

                p {
                    font-size: 2.1em;
                    padding: 10px;
                }
            }
        }
    }
}




.z-index-2 {
    position: relative;
    z-index: 2;
}

.border-image {
    border-radius: 50px;
    overflow: hidden;
}

.center-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}