h1 {
    font-size: 48px !important;
}

span {
    font-size: 21px !important;
}

.z-index-2 {
    position: relative;
    z-index: 2;
}

.border-image {
    border-radius: 50px;
    overflow: hidden;
}

.center-elements {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (min-width: 768px) {
    .big {
        font-size: 50px !important;
    }
}
