.card-body > a {
  color: #21192f;
  padding-bottom: 100px;
}

.card-header {
  background-color: var(--footer) !important;
}

.card-body {
  background-color: var(--footer);
}

.card-deck {
  background-color: var(--footer);
}
