.card-body a {
  color: #21192f;
}

.card-header {
  background-color: var(--footer) !important;
}

.card-body {
  background-color: var(--footer);
}

.card-deck {
  background-color: var(--footer);
}

.card-text {
  margin-bottom: 8px;
}
