@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    background: var(--primary);
}

*, button, input {
    border: 0;
    background: none;
    font-family: 'Sansita Swashed', cursive;
    color: var(--black);
    transition: color .2s ease-out;
}

ul {
    list-style: none;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.row {
    margin: 0;
}

.col {
    padding: 0;
}

div[class*='col-'] {
    padding: 0;
}

.infoContainer {
    height: 85vh;
    margin-bottom: 8vh;
}

.infoContainerSmall {
    height: 50vh;
    margin-bottom: 8vh;
}

.infoContainerFlex {
    min-height: 30vh;
    margin-bottom: 8vh;
}

.infoContainerBig {
     min-height: 100vh;
     margin-bottom: 8vh;
 }


.card {
    border: 0;
}

.card-body {
    border: 0;
}

.card-deck {
    border: 0;
}

.card-text {
    border: 0;
}

.general-button {
  color: var(--white);
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;

  padding: 8px 18px;

  background-color: var(--pink);
  border-color: var(--pink);
  border-radius: 25px;
  border-width: 2px;

  transition: background-color 0.2s ease-in-out;
}

.general-button:hover {
  color: var(--pink);
  background-color: #FFF;
  border-color: var(--pink);
}

.general-button:active {
    color: var(--pink) !important;
    background-color: var(--white) !important;
    border-color: var(--pink) !important;
}

.general-button:focus {
    color: var(--white);
    background-color: var(--pink);
    border-color: var(--pink);
}

.font-size-big {
    font-size: large;
}

.font-size-bigger {
    font-size: xx-large;
}

.title-pink {
    color: var(--pink) !important;
}

.title-black {
    color: var(--black) !important;
}

.text-black {
    color: var(--black) !important;
}

:root {
    --white: #fff;
    --white-dirty: #dddcda;
    --orange: #ffa100;
    --gray: #424242;
    --pink: #d35e7b;
    --black: #000;
    --pink-light: #F9DAD0;
}
