* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    background: var(--primary);
}

*, button, input {
    border: 0;
    background: none;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
    color: var(--black);
    transition: color .2s ease-out;
}

ul {
    list-style: none;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.row {
    margin: 0;
}

.col {
    padding: 0;
}

div[class*='col-'] {
    padding: 0;
}

.infoContainer {
    height: 85vh;
    margin-bottom: 10vh;
}

.card {
    border: 0;
}

.card-body {
    border: 0;
}

.card-deck {
    border: 0;
}

.card-text {
    border: 0;
}

.general-button {
  color: #FFF;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;

  padding: 8px 18px;

  background-color: #F48472;
  border-color: #F48472;
  border-radius: 25px;
  border-width: 2px;

  transition: background-color 0.2s ease-in-out;
}

.general-button:hover {
  color: #F48472;
  background-color: #FFF;
  border-color: #F48472;
}

:root {
    --primary: #fff;
    --black: #1b1f23;
    --gray: #586069;
    --gray-light: #6a737d;
    --gray-dark: #24292e;
    --orange: #f9826c;
    --other-language: #8257e5;
    --header-option: #f3f2ef;
    --header: rgba(252,192,148,0.95);
    --footer: #FBF8F5;
}
