@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/swiper/swiper.scss';
@import './components/forms-wizard';

$margin-bottom: 20vh;
$xs: 575px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1600px;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
}

*, button, input {
    border: 0;
    background: none;
    font-family: "Comfortaa", cursive;
    color: var(--black);
    transition: color .2s ease-out;
}

ul {
    list-style: none;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.row {
    margin: 0;
}

.col {
    padding: 0;
}

div[class*='col-'] {
    padding: 0;
}

h1 {
    color: var(--orange);
    font-weight: bolder;
}

.title {
    font-size: 3.50em;
}

.vl {
    border-left: 1px solid black;
    height: 100%;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.w-60 {
    width: 60% !important;
}

.w-65 {
    width: 65% !important;
}

.card {
    border: 0;
}

.card-body {
    border: 0;
}

.card-deck {
    border: 0;
}

.card-text {
    border: 0;
}

.general-button {
    color: var(--white);
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;

    padding: 14px 22px;

    background-color: var(--orange);
    border-color: var(--orange);
    border-radius: 10px;
    border-width: 2px;

    transition: background-color 0.2s ease-in-out;
}

.general-button:hover {
    color: var(--orange-opac);
    background-color: #FFF;
    border-color: var(--orange-opac);
}

.general-button:active {
    color: var(--orange-opac) !important;
    background-color: var(--orange-opac) !important;
    border-color: var(--orange-opac) !important;
}

.general-button:focus {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--orange);
}

.font-size-big {
    font-size: large;
}

.font-size-bigger {
    font-size: xx-large;
}

.title-pink {
    color: var(--pink) !important;
}

.title-black {
    color: var(--black) !important;
}

.text-black {
    color: var(--black) !important;
}

.divider {
    margin-top: $spacer;
    margin-bottom: $spacer;
    height: 1px;
    overflow: hidden;
    background: $gray-200;
}

.bgImg {

}

.bgText {

}

.contentDiv {

}

@media only screen and (max-width: $xs) {
    html {
        font-size: 0.5rem;
    }
}

@media only screen and (min-width: $sm) {
    html {
        font-size: 0.5rem;
    }
}

@media only screen and (min-width: $md) {
    html {
        font-size: 0.5rem;
    }
}

@media only screen and (min-width: $lg) {
    html {
        font-size: 0.75rem;
    }
    .bgText {
        p {
            font-size: 1.3em !important;
        }
    }
}

@media only screen and (min-width: $xl) {
    html {
        font-size: 0.75rem;
    }
}

@media only screen and (min-width: $xxl) {
    html {
        font-size: 1rem;
    }
}


.bgImg {
    width: 100%;
    height: auto;
}

.bgText {
    position: static;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2em;

    h1 {
        margin-bottom: 30px;
    }

    p {
        font-size: 1.8em;
    }

    .general-button {
        margin-top: 30px;
    }
}

.info-container-header {
    text-align: center;
}

@media screen and (max-width: 599px) {
    .infoContainer {
        min-height: 30vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainer80 {
        min-height: 30vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainerSmall {
        min-height: 30vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainerFlex {
        min-height: 30vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainerBig {
        min-height: 30vh;
        margin-bottom: $margin-bottom;
    }
    .titleMobile {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .bgText {
        padding: 20px;
        text-align: center;

        h1 {
            font-size: 4em;
        }

        h4 {
          font-size: 2.3em;
        }

        p {
            font-size: 2.5em;
        }
    }

    .info-container-header {
        h3, h4 {
            padding: 10px 20px;
            font-size: 2.3em;
        }
    }
}

@media screen and (max-width: 599px) {

}

@media screen and (min-width: 600px) {

}

@media screen and (min-width: 900px) {
    .infoContainer {
        height: 85vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainer80 {
        height: 80vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainerSmall {
        height: 50vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainerFlex {
        min-height: 30vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainerBig {
        min-height: 100vh;
        margin-bottom: $margin-bottom;
    }
    .bgImg {
        position: absolute;
        height: 85vh;
    }
    .bgText {
        height: 80%;
        position: relative;
        z-index: 2;

        h1 {
            font-weight: bolder;
        }
    }
    .contentDiv {
        width: 70%;
    }

    .title {
      font-size: 3em;
    }

    .tratamento-card {
      img {
        height: 210px !important;
        width: 210px !important;
      }

      h4 {
        font-size: 2em !important;
      }

      p {
        font-size: 1.2em !important;
      }
    }

    .title {
      font-size: 3em;
    }
}

@media screen and (min-width: 1200px) {
    .infoContainer {
        height: 85vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainer80 {
        height: 80vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainerSmall {
        height: 50vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainerFlex {
        min-height: 30vh;
        margin-bottom: $margin-bottom;
        // width: 75%;
    }
    .infoContainerBig {
        min-height: 100vh;
        margin-bottom: $margin-bottom;
    }
    .bgImg {
        position: absolute;
        height: 85vh;
    }
    .bgText {
        height: 100%;
        position: relative;
        z-index: 2;

        h1 {
            // font-weight: bolder;
            font-weight: 300;
        }
    }
    .contentDiv {
        width: 50%;
    }

    .title {
      font-size: 3.5em;
    }

    .tratamento-card {
      img {
        height: 250px !important;
        width: 250px !important;
      }

      h4 {
        font-size: 2.5em !important;
      }

      p {
        padding: 10px 20px !important;
        font-size: 1.4em !important;
      }
    }

}

@media screen and (min-width: 1800px) {
  .tratamento-card {
    img {
      height: 300px !important;
      width: 300px !important;
    }

    h4 {
      font-size: 2.5em !important;
    }

    p {
      padding: 10px 20px !important;
      font-size: 1.4em !important;
    }
  }
}

.swiper-container {
    width: 100%;
    height: 100%;
    /*this gives the dimension of slider container*/
    /*these values will make the container as big as the parent div*/
    overflow: hidden;
    /*important parameter to not disrupt the container when slides increases in coverflow and other effect*/
}

.swiper-slide {
    // width:300px;
    // height:300px;
    /*this one holds the dimension of each slides and can be changed according to the user wish*/
}

:root {
    --white: #fff;
    --pastel: #fdf0ee;
    --pastel-opac: rgba(253, 240, 238, 0.4);
    --pastel2: rgba(254, 250, 249, 1);
    --pastel2-opac: rgba(254, 250, 249, 0.4);
    --orange: #e76034;
    --orange-opac: rgba(231, 96, 52, 0.6);
    --orange-opac2: rgba(231, 96, 52, 0.2);
    --gray: #737373;
    --gray-opac: rgba(155, 155, 155, 0.6);
    --pink: #c85c74;
    --black: #000;
    --pink-light: #fff5f1;
}
