@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
@import 'node_modules/bootstrap/scss/bootstrap.scss';
@import 'node_modules/swiper/swiper.scss';
@import './components/forms-wizard';

$margin-bottom: 20vh;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    background: var(--primary);
}

*, button, input {
    border: 0;
    background: none;
    font-family: "Comfortaa", cursive;
    color: var(--black);
    transition: color .2s ease-out;
}

ul {
    list-style: none;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.row {
    margin: 0;
}

.col {
    padding: 0;
}

div[class*='col-'] {
    padding: 0;
}

h1 {
    color: var(--orange);
    font-weight: bold;
}

.vl {
    border-left: 1px solid black;
    height: 100%;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.w-60 {
    width: 60% !important;
}

.w-65 {
    width: 65% !important;
}

.card {
    border: 0;
}

.card-body {
    border: 0;
}

.card-deck {
    border: 0;
}

.card-text {
    border: 0;
}

.general-button {
    color: var(--white);
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;

    padding: 14px 22px;

    background-color: var(--orange);
    border-color: var(--orange);
    border-radius: 10px;
    border-width: 2px;

    transition: background-color 0.2s ease-in-out;
}

.general-button:hover {
    color: var(--orange-opac);
    background-color: #FFF;
    border-color: var(--orange-opac);
}

.general-button:focus {
    color: var(--white);
    background-color: var(--orange);
    border-color: var(--orange);
}

.font-size-big {
    font-size: large;
}

.font-size-bigger {
    font-size: xx-large;
}

.title-pink {
    color: var(--pink) !important;
}

.title-black {
    color: var(--black) !important;
}

.text-black {
    color: var(--black) !important;
}

.divider {
    margin-top: $spacer;
    margin-bottom: $spacer;
    height: 1px;
    overflow: hidden;
    background: $gray-200;
}

@media (min-width: 624px) {
    html {
        font-size: 9px;
    }
}

@media (min-width: 702px) {
    html {
        font-size: 10px;
    }
}

@media (min-width: 780px) {
    html {
        font-size: 12px;
    }
}

@media (min-width: 858px) {
    html {
        font-size: 15px;
    }
}

@media (max-width: 623px) {
    html {
        font-size: 8px;
    }
}

@media screen and (max-width: 575px) {
    .infoContainer {
        min-height: 30vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainer80 {
        min-height: 30vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainerSmall {
        min-height: 30vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainerFlex {
        min-height: 30vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainerBig {
        min-height: 30vh;
        margin-bottom: $margin-bottom;
    }
    .titleMobile {
        font-size: 3.5rem;
        font-weight: 300;
        line-height: 1.2;
    }
    .bgImg {
        width: 100%;
        height: auto;
    }
}

@media screen and (min-width: 576px) {
    .bgImg {
        position: static;
        height: 85vh;
    }
    .bgText {
        position: static;
    }
    .contentDiv {
        width: 100%;
    }
}

@media screen and (min-width: 992px) {
    .infoContainer {
        height: 85vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainer80 {
        height: 80vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainerSmall {
        height: 50vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainerFlex {
        min-height: 30vh;
        margin-bottom: $margin-bottom;
    }
    .infoContainerBig {
        min-height: 100vh;
        margin-bottom: $margin-bottom;
    }
    .bgImg {
        position: absolute;
        height: 85vh;
    }
    .bgText {
        height: 100%;
        position: relative;
        z-index: 2;
    }
    .contentDiv {
        width: 70%;
    }
}

:root {
    --white: #fff;
    --pastel: #fdf0ee;
    --pastel-opac: rgba(253, 240, 238, 0.4);
    --pastel2: rgba(254, 250, 249, 1);
    --pastel2-opac: rgba(254, 250, 249, 0.4);
    --orange: #e76034;
    --orange-opac: rgba(231, 96, 52, 0.6);
    --orange-opac2: rgba(231, 96, 52, 0.2);
    --gray: #737373;
    --gray-opac: rgba(155, 155, 155, 0.6);
    --pink: #c85c74;
    --black: #000;
    --pink-light: #fff5f1;
}
