@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Spartan';
    src: local('Spartan'), url(../fonts/LeagueSpartan.otf) format('opentype');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    min-height: 100%;
    background: var(--primary);
}

*, button, input {
    border: 0;
    background: none;
    font-family: "Spartan", cursive;
    color: var(--black);
    transition: color .2s ease-out;
}

ul {
    list-style: none;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.row {
    margin: 0;
}

.col {
    padding: 0;
}

div[class*='col-'] {
    padding: 0;
}

h1 {
    color: var(--orange);
    font-weight: bold;
}

.vl {
    border-left: 1px solid black;
    height: 100%;
    position: absolute;
    left: 50%;
    margin-left: -3px;
    top: 0;
}

.w-60 {
    width: 60% !important;
}

.w-65 {
    width: 65% !important;
}

.infoContainer {
    height: 85vh;
    margin-bottom: 10vh;
}

.infoContainerSmall {
    height: 50vh;
    margin-bottom: 10vh;
}

.infoContainerFlex {
    min-height: 30vh;
    margin-bottom: 10vh;
}

.infoContainerBig {
    min-height: 100vh;
    margin-bottom: 10vh;
}


.card {
    border: 0;
}

.card-body {
    border: 0;
}

.card-deck {
    border: 0;
}

.card-text {
    border: 0;
}

.general-button {
    color: var(--white);
    font-weight: 600;
    font-size: 24px;
    line-height: 26px;

    padding: 8px 18px;

    background-color: var(--orange);
    border-color: var(--orange);
    border-radius: 25px;
    border-width: 2px;

    transition: background-color 0.2s ease-in-out;
}

.general-button:hover {
    color: var(--orange-opac);
    background-color: #FFF;
    border-color: var(--orange-opac);
}

.general-button:active {
    color: var(--orange-opac) !important;
    background-color: var(--orange-opac) !important;
    border-color: var(--orange-opac) !important;
}

.general-button:focus {
    color: var(--orange-opac);
    background-color: var(--orange-opac);
    border-color: var(--orange-opac);
}

.font-size-big {
    font-size: large;
}

.font-size-bigger {
    font-size: xx-large;
}

.title-pink {
    color: var(--pink) !important;
}

.title-black {
    color: var(--black) !important;
}

.text-black {
    color: var(--black) !important;
}

:root {
    --white: #fff;
    --pastel: #fdf0ee;
    --pastel-opac: rgba(253, 240, 238, 0.4);
    --orange: #e76034;
    --orange-opac: rgba(231, 96, 52, 0.6);
    --gray: #424242;
    --gray-opac: rgba(66, 66, 66, 0.6);
    --pink: #c85c74;
    --black: #000;
    --pink-light: #F9DAD0;
}
