.header-container {
  display: flex;
  align-items: center;
  background-color: var(--header);
  padding: 20px 16px;
}

.header-option {
  padding-left: 16px;
  width: 100%;
  color: var(--header-option);
  font-size: large;
  font-weight: bold;
}

.header-option:hover {
  color: #dddcda
}

.brand-logo {
  &:hover {
    text-decoration: none;
  }

  .brand-icon {
    height: 35px;
    width: auto;
    display: inline-block;

    img {
      height: 45px;
    }
  }
}
