.header-container {
  background-color: var(--white);
  padding: 30px !important;
}

.header-option {
  padding: 20px;
  color: var(--black);
  font-size: large;
  font-weight: bold;
  &:hover {
    color: var(--pastel);
  }
}

.brand-logo {
  padding: 40px 20px 40px 40px;
  &:hover {
    text-decoration: none;
  }

  .brand-icon {
    height: 44px;
    width: auto;
    display: inline-block;

    img {
      height: 55px;
    }
  }
}

p, h5 {
  margin: 0 !important;
  color: var(--gray) !important;
}
