.header-container {
  background-color: var(--white);
  position: fixed;
}

.header-option {
  padding: 20px;
  color: var(--black);
  font-size: large;
  font-weight: bold;
  &:hover {
    color: var(--pastel);
  }
}

.brand-logo {
  padding: 40px 20px 40px 0px;
  &:hover {
    text-decoration: none;
  }

  .brand-icon {
    height: 44px;
    width: auto;
    display: inline-block;

    img {
      height: 55px;
    }
  }
}

@media screen and (max-width: 575px) {
  .brand-logo {
    padding: 40px 20px 40px 0px;
    &:hover {
      text-decoration: none;
    }

    .brand-icon {
      height: 24px;
      width: auto;
      display: inline-block;

      img {
        height: 30px;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .brand-logo {
    padding: 40px 20px 40px 0px;
    &:hover {
      text-decoration: none;
    }

    .brand-icon {
      height: 44px;
      width: auto;
      display: inline-block;

      img {
        height: 55px;
      }
    }
  }
}

a p {
  color: var(--gray);
}

p, h5 {
  margin: 0 !important;
}
